<%= form_for @remittance, as: :remittance, :url => { :action => :create } do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :country %><br />
    <%= f.text_field :country, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :from %><br />
    <%= f.text_field :from, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :to %><br />
    <%= f.text_field :to, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :amount_send %><br />
    <%= f.number_field :amount_send, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :amount_receive %><br />
    <%= f.number_field :amount_receive, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :bank %><br />
    <%= f.text_field :bank, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :type_account %><br />
    <%= f.text_field :type_account, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :number_account %><br />
    <%= f.text_field :number_account, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :id_card %><br />
    <%= f.text_field :id_card, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Solicitar" %>
  </div>
<% end %>
