<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

	<meta name="mobile-web-app-capable" content="yes">

	<meta name="apple-mobile-web-app-capable" content="yes">
  <meta charset="UTF-8">
	<title>TuRemesa|Envia y Recibe Dinero donde quieras</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
  <div class="navbar navbar-default navbar-lg" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{pathFor 'main'}}">Turemesa<!--<img class="img-responsive" max-width="140" max-height="34px" style="padding-bottom: 0px; padding-top: 0px; border-top-style: solid; border-top-width: 0px; margin-top: -35px;" src="/Banner_Blanco.png" alt="">--></a>
    </div>

    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li><a href="">Inicio</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li><a href="/dashboard">Dashboard</a></li>
          <li><%= link_to 'Nueva Remesa', 'remittances/new' %></li>
          <% if current_user.role["name"] === 'admin' %>
            <li><%= link_to 'Remesas', 'remittances#index' %></li>
          <% end %>
          <li><%= link_to 'Salir', 'logout', :method => :delete %></li>
        <% else %>
          <li><a href="/login">Entrar</a></li>
          <li><a href="/register/register">Registrarse</a></li>
        <% end %>
      </ul>
    </div>
  </div>

<%= yield %>

</body>
</html>
